{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<section>
    <h2>Inscription</h2>
    <form id="signin-form" action="signin.php" method="get">
        <div class="divform">
            <label id="lbl_password" for="password">Mot de passe</label>
            <input class="input" id="password" name="password" type="password" required autocomplete="current-password">
        </div>
    </form>
    <div>
        <label></label>
        <input class="btn btnform" id="delete" name="delete" type="submit" value="Supprimer profil">
    </div>
</section>
{% endblock %}
