{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
<section class="form-section">
    <h2>Suppression</h2>
    <form id="delete-form" action="" method="post">
        <div class="form-card delete-form">
            <div class="div-form">
                <label for="email">Email</label>
                <input class="input-form" id="email" name="email" type="email" required>

            </div>
            <div class="div-form">
                <label for="password">Mot de passe</label>
                <input class="input-form" id="password" name="password" type="password" required
                    autocomplete="current-password">
            </div>
        </div>
        <div class="submit-div">
            <label></label>
            <input class="btn btn-form" id="delete" name="delete" type="submit" value="Supprimer profil">
        </div>
    </form>
</section>
{% endblock %}
