{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <h2>Feedback</h2>
    <section class="row-section">
        {% if app.user.feedback|length > 0 %}
        {% for feedback in app.user.feedback %}
        <div class="card">
            <ul class="ul-content ul-profile">
                <li>Coach : {{ feedback.coach.pseudo }}</li>
                <li>Date : {{ feedback.creationDate|date('d/F/Y') }}</li>
                <li class="text-feedback">Feedback : {{ feedback.text }}</li>
            </ul>
        </div>
        {% endfor %}
        {% else %}
        <p>Aucun feedback disponible.</p>
        {% endif %}
    </section>
{% endblock %}
