{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<section>
    <h2>
        Historique coaching
    </h2>
    <div class="coachdiv">
        <div class="coach subdiv profilediv">
                <ul class="ulsub ulprofile">
                    <li>Coaching du 25 décembre 2003 à 13h00 avec Kkoma</li>
                    <li>Coaching du 25 décembre 2003 à 13h00 avec Kkoma</li>
                    <li>Coaching du 25 décembre 2003 à 13h00 avec Kkoma</li>
                    <li>Coaching du 25 décembre 2003 à 13h00 avec Kkoma</li>
                    <li>Coaching du 25 décembre 2003 à 13h00 avec Kkoma</li>
                    <li><a class="btn profilebtn" href="">Retour</a></li>
                </ul>
        </div>
</section>
{% endblock %}
