{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<section>
    <h2>
        Profil
    </h2>
    <div class="coachdiv">
        <div class="coach subdiv profilediv">
                <ul class="ulsub ulprofile">
                    <li>Pseudo : Lorem</li>
                    <li>Email : 123@gmail.com</li>
                    <li>Abonné : Non</li>
                    <li>Date de création : 25 décembre 2003</li>
                    <li>Jeton : 0</li>
                    <li><a class="btn profilebtn" href="">Historique coaching</a></li>
                    <li><a class="btn profilebtn" href="">Modifier profil</a></li>
                    <li><a class="btn delete" href="">Supprimer profil</a></li>
                </ul>
        </div>
</section>
{% endblock %}
