{% extends 'base.html.twig' %}
{% block body %}
<section>
    <h1>
        Legends Learn Together
    </h1>
    <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quidem veniam, quia libero quo ea ab nobis,
        ipsam ratione vero magnam dolore porro? Esse quidem similique rerum fugit, nam suscipit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Error, dolorem! Tempore nostrum voluptas cumque, architecto quas provident et
        laboriosam esse. Ex, aliquam dolorem provident error commodi quaerat voluptate ea dolore?
    </div>
</section>
<section>
    <h2>Coachs</h2>
    <nav>
        <ul class="coach-ul">
            <li>
                <a href="#">
                    <svg class="svg96" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewbox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-left-icon lucide-chevron-left">
                        <path d="m15 18-6-6 6-6" />
                    </svg>
                </a>
            </li>
            <li class="all-coach">
                <div class="wrapper-div">
                    <div class="card">
                        <div class="img-coach">
                            <div class="img-background"></div>
                        </div>
                        <div class="card-content">
                            <h3>Kkoma</h3>
                            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                                <rect fill="#CE1126" width="3" height="2" />
                                <rect fill="#fff" width="2" height="2" />
                                <rect fill="#002654" width="1" height="2" />
                            </svg>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam
                                nihil soluta eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe
                                consequuntur dolores commodi perspiciatis quas voluptatum!</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-coach">
                            <div class="img-background"></div>
                        </div>
                        <div class="card-content">
                            <h3>Kkoma</h3>
                            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                                <rect fill="#CE1126" width="3" height="2" />
                                <rect fill="#fff" width="2" height="2" />
                                <rect fill="#002654" width="1" height="2" />
                            </svg>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam
                                nihil soluta eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe
                                consequuntur dolores commodi perspiciatis quas voluptatum!</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-coach">
                            <div class="img-background"></div>
                        </div>
                        <div class="card-content">
                            <h3>Kkoma</h3>
                            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                                <rect fill="#CE1126" width="3" height="2" />
                                <rect fill="#fff" width="2" height="2" />
                                <rect fill="#002654" width="1" height="2" />
                            </svg>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam
                                nihil soluta eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe
                                consequuntur dolores commodi perspiciatis quas voluptatum!</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-coach">
                            <div class="img-background"></div>
                        </div>
                        <div class="card-content">
                            <h3>Kkoma</h3>
                            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                                <rect fill="#CE1126" width="3" height="2" />
                                <rect fill="#fff" width="2" height="2" />
                                <rect fill="#002654" width="1" height="2" />
                            </svg>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam
                                nihil soluta eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe
                                consequuntur dolores commodi perspiciatis quas voluptatum!</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="img-coach">
                            <div class="img-background"></div>
                        </div>
                        <div class="card-content">
                            <h3>Kkoma</h3>
                            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                                <rect fill="#CE1126" width="3" height="2" />
                                <rect fill="#fff" width="2" height="2" />
                                <rect fill="#002654" width="1" height="2" />
                            </svg>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam
                                nihil soluta eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe
                                consequuntur dolores commodi perspiciatis quas voluptatum!</p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#">
                    <svg class="svg96" xmlns="http://www.w3.org/2000/svg" width="96" height="96" viewbox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevron-right-icon lucide-chevron-right">
                        <path d="m9 18 6-6-6-6" />
                    </svg>
                </a>
            </li>
        </ul>
    </nav>
</section>
<section>
    <h2>Vidéos</h2>
    <div class="video">
        <h3>5 tips avancés sur Jax !</h3>
        <div class="div-iframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/frrmQhmwaLQ?si=DTUX60CMihDTq-j-"
                title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
<section>
    <p class="subscription-text">Lorem ipsum dolor sit amet consectetur</p>
    <div>
        <a class="btn btn-global" href="">Rejoins Nous</a>
    </div>
</section>
{% endblock %}
