{% extends 'base.html.twig' %}

{% block title %}Supprimer un utilisateur{% endblock %}

{% block body %}
<section class="form-section">
    <h2>Supprimer un utilisateur</h2>

    {{ form_start(form, { method: 'POST' }) }}

    <div class="form-card">
        <div class="div-form">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>
    </div>

    <div class="submit-div">
        <label></label>
        <button onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')" class="btn btn-form delete">
            Supprimer l’utilisateur
        </button>
    </div>

    {{ form_end(form) }}
</section>
{% endblock %}
