{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<section class="form-section">
    <h2>Supprimer</h2>
    <form id="signin-form" action="" method="post">
        <div class="form-card signin-form">
            <div class="div-form">
                <label for="email">Email</label>
                <input class="input-form" id="email" name="email" type="email" required>
            </div>
        </div>
        <div class="submit-div">
            <label></label>
            <input class="btn btn-form" id="signin" name="signin" type="submit" value="Rechercher">
        </div>
    </form>
</section>
{% endblock %}
