{% extends 'base.html.twig' %}

{% block title %}Choisir une vidéo à supprimer{% endblock %}

{% block body %}
<section class="form-section">
    <h2>Choisir une vidéo à supprimer</h2>

    {{ form_start(form, { method: 'POST' }) }}
    <div class="form-card">
        <div class="div-form">
            {{ form_label(form.id) }}
            {{ form_widget(form.id) }}
        </div>
    </div>
    <div class="submit-div">
        <label></label>
        <button onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette vidéo ?')" class="btn btn-form delete">Supprimer la vidéo</button>
    </div>
    {{ form_end(form) }}
</section>
{% endblock %}
