{% extends 'base.html.twig' %}

{% block title %}Modifier une vidéo{% endblock %}

{% block body %}
<section class="form-section">
    <h2>Modifier une vidéo</h2>

    {{ form_start(form, { method: 'POST' }) }}
    <div class="form-card">
        <div class="div-form">
            {{ form_label(form.id) }}
            {{ form_widget(form.id) }}
        </div>
    </div>
    <div class="submit-div">
        <label></label>
        <button class="btn btn-form">Modifier la vidéo</button>
    </div>
    {{ form_end(form) }}
</section>
{% endblock %}
