{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<section>
    <h2>
        Abonnement
    </h2>
    <div class="wrapper-div wrapper-sub">
        <div class="card card-sub">
            <div class="card-content sub-div">
                <h2>Vidéos</h2>
                <a class="btn btn-border" href="">Liste des vidéos</a>
                <a class="btn btn-border" href="">Ajouter une vidéo</a>
                <a class="btn btn-border" href="">Modifier une vidéo</a>
                <a class="btn" href="">Supprimer une vidéo</a>
            </div>
        </div>
        <div class="card card-sub">
            <div class="card-content sub-div">
                <h2>Utilisateurs</h2>
                <a class="btn btn-border" href="">Liste des utilisateurs</a>
                <a class="btn btn-border" href="">Rechercher un utilisateur</a>
                <a class="btn btn-border" href="">Historique des paiements</a>
                <a class="btn" href="">Supprimer une vidéo</a>
            </div>
        </div>
        <div class="card card-sub">
            <div class="card-content sub-div">
                <h2>Demandes</h2>
                <a class="btn btn-border" href="">Liste des demandes</a>
                <a class="btn" href="">Supprimer une vidéo</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
