{% extends 'base.html.twig' %}

{% block title %}Rechercher un utilisateur{% endblock %}

{% block body %}
<section class="form-section">
    <h2>Rechercher un utilisateur</h2>

    {{ form_start(form, { method: 'POST' }) }}

    <div class="form-card">
        <div class="div-form">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>
    </div>

    <div class="submit-div">
        <label></label>
        <button class="btn btn-form">Rechercher l’utilisateur</button>
    </div>

    {{ form_end(form) }}
</section>
{% endblock %}
