{% extends 'base.html.twig' %}

{% block title %}Hello VideoController!{% endblock %}

{% block body %}
<section>
    <h1>
        Vidéos
    </h1>
    <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quidem veniam, quia libero quo ea ab nobis,
        ipsam ratione vero magnam dolore porro? Esse quidem similique rerum fugit, nam suscipit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Error, dolorem! Tempore nostrum voluptas cumque, architecto quas provident et
        laboriosam esse. Ex, aliquam dolorem provident error commodi quaerat voluptate ea dolore?
    </div>
</section>
<section class="row-section">
    <div class="video">
        <h3>5 tips avancés sur Jax !</h3>
        <div class="div-iframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/frrmQhmwaLQ?si=DTUX60CMihDTq-j-"
                title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="video">
        <h3>5 tips avancés sur Jax !</h3>
        <div class="div-iframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/frrmQhmwaLQ?si=DTUX60CMihDTq-j-"
                title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="video">
        <h3>5 tips avancés sur Jax !</h3>
        <div class="div-iframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/frrmQhmwaLQ?si=DTUX60CMihDTq-j-"
                title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="video">
        <h3>5 tips avancés sur Jax !</h3>
        <div class="div-iframe">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/frrmQhmwaLQ?si=DTUX60CMihDTq-j-"
                title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
{% endblock %}
