{% extends 'base.html.twig' %}

{% block title %}Hello CoachingController!{% endblock %}

{% block body %}
<section>
    <h1>
        Coaching
    </h1>
    <div class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quidem veniam, quia libero quo ea ab nobis,
        ipsam ratione vero magnam dolore porro? Esse quidem similique rerum fugit, nam suscipit?Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Error, dolorem! Tempore nostrum voluptas cumque, architecto quas provident et
        laboriosam esse. Ex, aliquam dolorem provident error commodi quaerat voluptate ea dolore?
    </div>
</section>
<section>
    <h2>Planning</h2>
    <div class="div-iframe video-planning">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/frrmQhmwaLQ?si=DTUX60CMihDTq-j-"
            title="YouTube video player" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <a class="btn book-now" href="">Réserve maintenant !</a>
    </div>
</section>
<section class="row-section">
    <div class="card coach-page">
        <div class="img-coach img-coaching">
            <div class="img-background"></div>
        </div>
        <div class="card-content info-coaching">
            <h3>Kkoma</h3>
            <p>Type de coach : Pro</p>
            <p>Experiences : Lorem ipsum</p>
            <p>Langues : Français, English</p>
            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                <rect fill="#CE1126" width="3" height="2" />
                <rect fill="#fff" width="2" height="2" />
                <rect fill="#002654" width="1" height="2" />
            </svg>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam nihil soluta
                eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe consequuntur dolores commodi
                perspiciatis quas voluptatum!</p>
        </div>
    </div>
    <div class="card coach-page">
        <div class="img-coach img-coaching">
            <div class="img-background"></div>
        </div>
        <div class="card-content info-coaching">
            <h3>Kkoma</h3>
            <p>Type de coach : Pro</p>
            <p>Experiences : Lorem ipsum</p>
            <p>Langues : Français, English</p>
            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                <rect fill="#CE1126" width="3" height="2" />
                <rect fill="#fff" width="2" height="2" />
                <rect fill="#002654" width="1" height="2" />
            </svg>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam nihil soluta
                eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe consequuntur dolores commodi
                perspiciatis quas voluptatum!</p>
        </div>
    </div>
    <div class="card coach-page">
        <div class="img-coach img-coaching">
            <div class="img-background"></div>
        </div>
        <div class="card-content info-coaching">
            <h3>Kkoma</h3>
            <p>Type de coach : Pro</p>
            <p>Experiences : Lorem ipsum</p>
            <p>Langues : Français, English</p>
            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                <rect fill="#CE1126" width="3" height="2" />
                <rect fill="#fff" width="2" height="2" />
                <rect fill="#002654" width="1" height="2" />
            </svg>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam nihil soluta
                eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe consequuntur dolores commodi
                perspiciatis quas voluptatum!</p>
        </div>
    </div>
    <div class="card coach-page">
        <div class="img-coach img-coaching">
            <div class="img-background"></div>
        </div>
        <div class="card-content info-coaching">
            <h3>Kkoma</h3>
            <p>Type de coach : Pro</p>
            <p>Experiences : Lorem ipsum</p>
            <p>Langues : Français, English</p>
            <svg class="fr-flag" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 3 2">
                <rect fill="#CE1126" width="3" height="2" />
                <rect fill="#fff" width="2" height="2" />
                <rect fill="#002654" width="1" height="2" />
            </svg>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eos veniam laboriosam nihil soluta
                eligendi esse itaque corporis, hic vero eaque nemo temporibus saepe consequuntur dolores commodi
                perspiciatis quas voluptatum!</p>
        </div>
    </div>
</section>
{% endblock %}
