{% extends 'base.html.twig' %}
{% block title %}Planning{% endblock %}
{% block body %}
<section class="calendarsection">
    <h2>
        Planning
    </h2>
    <div class="calendardiv">
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Europe%2FParis&showTz=0&showPrint=0&showCalendars=0&mode=WEEK&src=dzRsbG9mQGdtYWlsLmNvbQ&color=%23039be5"
            style="border-width:0" width="85%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>
    <div>
        <a class="btn booknow" href="">Faire une demande</a>
    </div>
</section>
{% endblock %}
