* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

body,
html {
    height: 100%;
    background: linear-gradient(to bottom, #0E0E0E, #780000);
}

.page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.bar {
    background-color: #1A1A1A;
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 10vh;
    top: 0;
}

.barfooter {
    width: 100%;
    height: 10vh;
    z-index: 99;
    border-top: #fff solid 1px;
}

.logo {
    height: 10vh;
}

.navbar {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 10vh;
    font-size: 24px;
    font-weight: 600;
}

.footer {
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
    gap: 30px;
}

.btn-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4em 0.6em;
    background-color: #780000;
    border-radius: 4px;
}

.li-right1 {
    margin-left: auto;
}

.li-right2 {
    margin-right: 20px;
}

.li-right2-footer{
    margin-right: 30px;
}

.signin {
    background-color: #1A1A1A;
    border: 1px solid #fff;
}

.socials {
    color: #fff;
}
