<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Welcome!
        {% endblock %}
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% block importmap %}
    {{ importmap('app') }}
    {% endblock %}
    {% endblock %}
</head>

<body>
    <div class="page">
        <header>
            <div class="bar">
                <nav>
                    <ul class="navbar">
                        <li>
                            <a href=""><img class="logo" src="{{ asset('img/LOGOLLT.svg') }}" alt="Logo LLT"></a>
                        </li>
                        <li class="menu-big">
                            <a href="">Coaching</a>
                        </li>
                        <li class="menu-big">
                            <a href="">Vidéos</a>
                        </li>
                        <li class="menu-big">
                            <a href="">Abonnement</a>
                        </li>
                        <li class="margin-l-a menu-big">
                            <a class="btn" href="">S'inscrire</a>
                        </li>
                        <li class="margin-r-24 menu-big">
                            <a class="btn signin-btn" href="">Se connecter</a>
                        </li>
                        <li class="menu-small">
                            <button class="menu-small-btn">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"
                                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-menu-icon lucide-menu">
                                        <path d="M4 5h16" />
                                        <path d="M4 12h16" />
                                        <path d="M4 19h16" />
                                    </svg>
                            </button>
                        </li>
                    </ul>
                    <ul class="menu-small-ul">
                        <li class="close"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-icon lucide-x"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg><a href=""></a></li>
                        <li><a href="">Coaching</a></li>
                        <li><a href="">Vidéos</a></li>
                        <li><a href="">Abonnement</a></li>
                        <li><a href="">S'inscrire</a></li>
                        <li><a href="">Se connecter</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <div class="barfooter">
                <nav>
                    <ul class="navbar footer-ul">
                        <li>
                            <a href="">Mentions légales</a>
                        </li>
                        <li>
                            <a href="">Condition d'utilisation</a>
                        </li>
                        <li>
                            <a href="">Politique de confidentialité</a>
                        </li>
                        <li>
                            <a href="">Contact</a>
                        </li>
                        <li class="margin-l-a">
                            <a href="">
                                <svg class="svg32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                                    class="bi bi-discord" viewbox="0 0 16 16">
                                    <path
                                        d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg class="svg24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-twitter-x" viewbox="0 0 16 16">
                                    <path
                                        d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z" />
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <svg class="svg24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                    class="bi bi-tiktok" viewbox="0 0 16 16">
                                    <path
                                        d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z" />
                                </svg>
                            </a>
                        </li>
                        <li class="margin-r-32">
                            <a href="">
                                <svg class="svg32" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewbox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-instagram-icon lucide-instagram">
                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
                                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
                                    <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>

</body>

</html>
