{% extends 'base.html.twig' %}

{% block title %}Hello SignupController!{% endblock %}

{% block body %}
<section>
    <h2>Inscription</h2>
    <form id="signup-form" action="signup.php" method="get">
        <div class="divform">
            <label id="lbl_pseudo" for="pseudo">Pseudo</label>
            <input class="input" id="pseudo" name="pseudo" type="text">
        </div>
        <div class="divform">
            <label id="lbl_email" for="email">Email</label>
            <input class="input" id="email" name="email" type="mail">

        </div>
        <div class="divform">
            <label id="lbl_password" for="password">Mot de passe</label>
            <input class="input" id="password" name="password" type="password" required autocomplete="current-password">
        </div>
    </form>
    <div>
        <label></label>
        <input class="btn btnform" id="signup" name="signup" type="submit" value="S'inscrire">
    </div>
</section>
{% endblock %}
